[submodule "src/TianWen.Lib/OpenNGC"]
	path = src/TianWen.Lib/OpenNGC
	url = https://github.com/mattiaverga/OpenNGC.git
	branch = master
	shallow = true
[submodule "src/TianWen.Lib/hip2000"]
	path = src/TianWen.Lib/hip2000
	url = https://github.com/gmiller123456/hip2000
	branch = master
	shallow = true
