<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="sharpastro-local" value="../nupkgs" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="DIR.Lib" />
      <package pattern="Console.Lib" />
      <package pattern="SdlVulkan.Renderer" />
      <package pattern="SDL3-CS" />
      <package pattern="SDL3-CS.Native" />
      <package pattern="Vortice.*" />
    </packageSource>
    <packageSource key="sharpastro-local">
      <package pattern="SdlVulkan.Renderer" />
      <package pattern="Console.Lib" />
    </packageSource>
  </packageSourceMapping>
</configuration>
